In [50]:
import pandas as pd

df1= pd.read_csv("train-1.csv")
df2= pd.read_csv("train-2.csv")
df3= pd.read_csv("train-3.csv")
df4= pd.read_csv("train-4.csv")
df5= pd.read_csv("train-5.csv")
df6= pd.read_csv("train-6.csv")
df7= pd.read_csv("train-7.csv")
df8= pd.read_csv("train-8.csv")

df_final = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8])

df_final.to_csv("train.csv", index=False)

train = pd.read_csv("train.csv")
df_train = train.drop(['Unnamed: 0'], axis=1)

df_train

#ids = df_train["tconst"]
#df_train[ids.isin(ids[ids.duplicated()])].sort_values("tconst")

,tconst,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,label
0,tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True
1,tt0011841,Way Down East,Way Down East,1920,\N,145,5376.0,True
2,tt0012494,Déstiny,Der müde Tod,1921,\N,97,5842.0,True
3,tt0015163,The Navigator,The Navigator,1924,\N,59,9652.0,True
4,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925,\N,93,17887.0,True
...,...,...,...,...,...,...,...,...
7954,tt9625664,Trauma Center,NaN,2019,\N,87,12951.0,False
7955,tt9741310,Slaxx,Slaxx,2020,\N,77,2464.0,False
7956,tt9742392,Kindred,Kindred,2020,\N,101,1719.0,False
7957,tt9850386,The Bee Gees: How Can You Mend a Broken Heart,NaN,2020,\N,111,4144.0,True
7958,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,\N,103,3242.0,True

In [31]:
import json
from operator import itemgetter
import csv

f = open('writing.json', "r")
data = json.loads(f.read())

print(data[0]['movie'])
print(data[0])

clean_list = []

for line in data:
    clean_list.append(list(itemgetter('movie', 'writer')(line)))
clean_list


with open("write_clean.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerows(clean_list)

df = pd.read_csv('write_clean.csv')
df.columns = ['tconst', 'writer']
df.to_csv('write_clean2.csv')

tt0003740
{'movie': 'tt0003740', 'writer': 'nm0195339'}

In [5]:
writers = pd.read_csv('write_clean2.csv')
writers

       Unnamed: 0     tconst     writer
0               0  tt0003740  nm0515385
1               1  tt0003740  nm0665163
2               2  tt0003740  nm0758215
3               3  tt0008663  nm0406585
4               4  tt0008663  nm0596410
...           ...        ...        ...
22422       22422  tt9904802  nm0942647
22423       22423  tt9904802  nm3853396
22424       22424  tt9911196  nm2063122
22425       22425  tt9911196  nm0277932
22426       22426  tt9911196  nm3547655

[22427 rows x 3 columns]

In [10]:
df3 = df_train.merge(writers, how='left')
df3

,tconst,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,label,Unnamed: 0,writer
0,tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True,9,nm0006782
1,tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True,10,nm0473134
2,tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True,11,nm0523932
3,tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True,12,nm0932559
4,tt0011841,Way Down East,Way Down East,1920,\N,145,5376.0,True,18,nm0662461
...,...,...,...,...,...,...,...,...,...,...
17912,tt9742392,Kindred,Kindred,2020,\N,101,1719.0,False,22391,nm3553292
17913,tt9850386,The Bee Gees: How Can You Mend a Broken Heart,NaN,2020,\N,111,4144.0,True,22419,nm0598531
17914,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,\N,103,3242.0,True,22424,nm2063122
17915,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,\N,103,3242.0,True,22425,nm0277932
17916,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,\N,103,3242.0,True,22426,nm3547655

In [19]:
df_writer_test = df3.groupby(['tconst','primaryTitle', 'originalTitle', 'startYear', 'endYear', 'runtimeMinutes', 'numVotes', 'label'])['writer'].apply(', '.join).reset_index()
df5 = df3['writer'].groupby([df3.tconst,df3.primaryTitle, df3.originalTitle, df3.startYear, df3.endYear, df3.runtimeMinutes, df3.numVotes, df3.label]).apply(list).reset_index()
df_writer_test

,tconst,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,label,writer
0,tt0009369,Mickey,Mickey,1918,\N,93,1119.0,False,"nm0215874, nm0370271"
1,tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True,"nm0006782, nm0473134, nm0523932, nm0932559"
2,tt0011439,The Mark of Zorro,The Mark of Zorro,1920,\N,79,2439.0,True,"nm0191547, nm0001196, nm1491939"
3,tt0011607,The Parson's Widow,Prästänkan,1920,\N,94,1264.0,True,"nm0003433, nm0418114"
4,tt0011841,Way Down East,Way Down East,1920,\N,145,5376.0,True,"nm0662461, nm0103755, nm0342604, nm0446189, nm..."
...,...,...,...,...,...,...,...,...,...
3567,tt9820352,Villain,Villain,2020,\N,97,2652.0,False,"nm1906725, nm1697006"
3568,tt9831136,The Banana Splits Movie,The Banana Splits Movie,2019,\N,89,3568.0,False,"nm0253624, nm1698584"
3569,tt9840958,Love Struck Sick,Love Struck Sick,2019,\N,92,3769.0,False,"nm8957087, nm4672801"
3570,tt9850344,Night Shift,Police,2020,\N,98,1325.0,False,"nm3124777, nm1987983, nm0284774"
3571,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,\N,103,3242.0,True,"nm2063122, nm0277932, nm3547655"

In [35]:
z = open('directing.json', "r")
director = json.loads(z.read())
dfmovie = director['movie']
dfmovie

dfdir = director['director']
dfdir

{'0': 'nm0665163',
 '1': 'nm0803705',
 '2': 'nm0428059',
 '3': 'nm0949648',
 '4': 'nm0304098',
 '5': 'nm0523932',
 '6': 'nm0629243',
 '7': 'nm0003433',
 '8': 'nm0000428',
 '9': 'nm0000122',
 '10': 'nm0000485',
 '11': 'nm0000428',
 '12': 'nm0159725',
 '13': 'nm0245385',
 '14': 'nm0258477',
 '15': 'nm0830249',
 '16': 'nm0941637',
 '17': 'nm0090007',
 '18': 'nm0000036',
 '19': 'nm0000122',
 '20': 'nm0628345',
 '21': 'nm0853130',
 '22': 'nm0000036',
 '23': 'nm0166836',
 '24': 'nm0628345',
 '25': 'nm0853130',
 '26': 'nm0853130',
 '27': 'nm0628345',
 '28': 'nm0803705',
 '29': 'nm0000406',
 '30': 'nm0003638',
 '31': 'nm0187981',
 '32': 'nm0000036',
 '33': 'nm0000485',
 '34': 'nm0000485',
 '35': 'nm0163229',
 '36': 'nm0107543',
 '37': 'nm0001178',
 '38': 'nm0909825',
 '39': 'nm0628345',
 '40': 'nm0853130',
 '41': 'nm0655065',
 '42': 'nm0000036',
 '43': 'nm0000122',
 '44': 'nm0002233',
 '45': 'nm0124877',
 '46': 'nm0432216',
 '47': 'nm0151606',
 '48': 'nm0480677',
 '49': 'nm0781292',
 '50': 'nm0000036',
 '51': 'nm0243295',
 '52': 'nm0783865',
 '53': 'nm0000036',
 '54': 'nm0629243',
 '55': 'nm0102643',
 '56': 'nm0127511',
 '57': 'nm0169905',
 '58': 'nm0002271',
 '59': 'nm0003638',
 '60': 'nm0455938',
 '61': 'nm0000485',
 '62': 'nm0474487',
 '63': 'nm0803705',
 '64': 'nm0000406',
 '65': 'nm0115669',
 '66': 'nm0000036',
 '67': 'nm0575963',
 '68': 'nm0001124',
 '69': 'nm0699877',
 '70': 'nm0231151',
 '71': 'nm0304098',
 '72': 'nm0097648',
 '73': 'nm0523932',
 '74': 'nm0821472',
 '75': 'nm0903049',
 '76': 'nm0744504',
 '77': 'nm0115218',
 '78': 'nm0195496',
 '79': 'nm0920074',
 '80': 'nm0920074',
 '81': 'nm0655065',
 '82': 'nm0000036',
 '83': 'nm0781292',
 '84': 'nm0000122',
 '85': 'nm0896542',
 '86': 'nm0903049',
 '87': 'nm0000033',
 '88': 'nm0107543',
 '89': 'nm0270838',
 '90': 'nm0896542',
 '91': 'nm0928514',
 '92': 'nm0718469',
 '93': 'nm0000036',
 '94': 'nm0097648',
 '95': 'nm0562004',
 '96': 'nm0853130',
 '97': 'nm0000485',
 '98': 'nm0191899',
 '99': 'nm0097648',
 '100': 'nm0002233',
 '101': 'nm0092915',
 '102': 'nm0003638',
 '103': 'nm0002190',
 '104': 'nm0000033',
 '105': 'nm0823089',
 '106': 'nm0823088',
 '107': 'nm0163229',
 '108': 'nm0896542',
 '109': 'nm0719756',
 '110': 'nm0001843',
 '111': 'nm0523932',
 '112': 'nm0670643',
 '113': 'nm0000485',
 '114': 'nm0466099',
 '115': 'nm0163229',
 '116': 'nm0001008',
 '117': 'nm0000033',
 '118': 'nm0896542',
 '119': 'nm0003638',
 '120': 'nm0654868',
 '121': 'nm0001843',
 '122': 'nm0163229',
 '123': 'nm0001008',
 '124': 'nm0245385',
 '125': 'nm0624756',
 '126': 'nm0076368',
 '127': 'nm0337586',
 '128': 'nm0115218',
 '129': 'nm0115669',
 '130': 'nm0516001',
 '131': 'nm0001843',
 '132': 'nm0002030',
 '133': 'nm0523932',
 '134': 'nm0000033',
 '135': 'nm0523932',
 '136': 'nm0654868',
 '137': 'nm0003433',
 '138': 'nm0002030',
 '139': 'nm0337586',
 '140': 'nm0183018',
 '141': 'nm0515979',
 '142': 'nm0654868',
 '143': 'nm0523932',
 '144': 'nm0736778',
 '145': 'nm0730018',
 '146': 'nm0564970',
 '147': 'nm0908234',
 '148': 'nm0500552',
 '149': 'nm0215877',
 '150': 'nm0045800',
 '151': 'nm0826094',
 '152': 'nm0840042',
 '153': 'nm0001843',
 '154': 'nm0448915',
 '155': 'nm0774325',
 '156': 'nm0178260',
 '157': 'nm0001008',
 '158': 'nm0002030',
 '159': 'nm0541149',
 '160': 'nm0774325',
 '161': 'nm0731596',
 '162': 'nm0897118',
 '163': 'nm0736778',
 '164': 'nm0576940',
 '165': 'nm0102908',
 '166': 'nm0890574',
 '167': 'nm0890567',
 '168': 'nm0000923',
 '169': 'nm0258015',
 '170': 'nm0762263',
 '171': 'nm0572851',
 '172': 'nm0355284',
 '173': 'nm0102908',
 '174': 'nm0102908',
 '175': 'nm0886754',
 '176': 'nm0176699',
 '177': 'nm0002030',
 '178': 'nm0292134',
 '179': 'nm0903049',
 '180': 'nm0176699',
 '181': 'nm0570985',
 '182': 'nm0316539',
 '183': 'nm0719756',
 '184': 'nm0726166',
 '185': 'nm0654868',
 '186': 'nm0000033',
 '187': 'nm0541149',
 '188': 'nm0102908',
 '189': 'nm0943758',
 '190': 'nm0000406',
 '191': 'nm0092915',
 '192': 'nm0176699',
 '193': 'nm0502752',
 '194': 'nm0654868',
 '195': 'nm0000406',
 '196': 'nm0793646',
 '197': 'nm0719756',
 '198': 'nm0245213',
 '199': 'nm0002031',
 '200': 'nm0401680',
 '201': 'nm0928781',
 '202': 'nm0719756',
 '203': 'nm0943758',
 '204': 'nm0000485',
 '205': 'nm0092915',
 '206': 'nm0003226',
 '207': 'nm0886754',
 '208': 'nm0000122',
 '209': 'nm0003226',
 '210': 'nm0480046',
 '211': 'nm0562845',
 '212': 'nm0000406',
 '213': 'nm0466099',
 '214': 'nm0000033',
 '215': 'nm0886754',
 '216': 'nm0001843',
 '217': 'nm0226189',
 '218': 'nm0782682',
 '219': 'nm0828419',
 '220': 'nm0309163',
 '221': 'nm0092915',
 '222': 'nm0943758',
 '223': 'nm0523932',
 '224': 'nm0002030',
 '225': 'nm0401680',
 '226': 'nm0562004',
 '227': 'nm0939992',
 '228': 'nm0943758',
 '229': 'nm0500552',
 '230': 'nm0281808',
 '231': 'nm0939992',
 '232': 'nm0532561',
 '233': 'nm0291548',
 '234': 'nm0245385',
 '235': 'nm0226189',
 '236': 'nm0564970',
 '237': 'nm0002031',
 '238': 'nm0045800',
 '239': 'nm0437717',
 '240': 'nm0861703',
 '241': 'nm0945537',
 '242': 'nm0226189',
 '243': 'nm0445033',
 '244': 'nm0886754',
 '245': 'nm0188669',
 '246': 'nm0896542',
 '247': 'nm0503777',
 '248': 'nm0395023',
 '249': 'nm0851537',
 '250': 'nm0001178',
 '251': 'nm0890565',
 '252': 'nm0851537',
 '253': 'nm0001328',
 '254': 'nm0719756',
 '255': 'nm0896542',
 '256': 'nm0332539',
 '257': 'nm0656528',
 '258': 'nm0002030',
 '259': 'nm0138893',
 '260': 'nm0943758',
 '261': 'nm0000033',
 '262': 'nm0726166',
 '263': 'nm0002190',
 '264': 'nm0001366',
 '265': 'nm0138893',
 '266': 'nm0695456',
 '267': 'nm0587277',
 '268': 'nm0908831',
 '269': 'nm0861703',
 '270': 'nm0921288',
 '271': 'nm0920074',
 '272': 'nm0637790',
 '273': 'nm0287988',
 '274': 'nm0287988',
 '275': 'nm0332539',
 '276': 'nm0550892',
 '277': 'nm0002031',
 '278': 'nm0466113',
 '279': 'nm0225555',
 '280': 'nm0281808',
 '281': 'nm0002030',
 '282': 'nm0939992',
 '283': 'nm0939992',
 '284': 'nm0291548',
 '285': 'nm0245385',
 '286': 'nm0828419',
 '287': 'nm0188669',
 '288': 'nm0454771',
 '289': 'nm0191899',
 '290': 'nm0138893',
 '291': 'nm0782682',
 '292': 'nm0485943',
 '293': 'nm0001843',
 '294': 'nm0500552',
 '295': 'nm0332539',
 '296': 'nm0118807',
 '297': 'nm0001328',
 '298': 'nm0002031',
 '299': 'nm0792605',
 '300': 'nm0909825',
 '301': 'nm0498174',
 '302': 'nm0000406',
 '303': 'nm0001124',
 '304': 'nm0002030',
 '305': 'nm0851537',
 '306': 'nm0896542',
 '307': 'nm0861703',
 '308': 'nm0503777',
 '309': 'nm0281808',
 '310': 'nm0002030',
 '311': 'nm0550892',
 '312': 'nm0166836',
 '313': 'nm0000406',
 '314': 'nm0003226',
 '315': 'nm0188669',
 '316': 'nm0631438',
 '317': 'nm0166836',
 '318': 'nm0851537',
 '319': 'nm0287988',
 '320': 'nm0002545',
 '321': 'nm0332531',
 '322': 'nm0946391',
 '323': 'nm0113284',
 '324': 'nm0631438',
 '325': 'nm0000033',
 '326': 'nm0550892',
 '327': 'nm0000406',
 '328': 'nm0886754',
 '329': 'nm0363235',
 '330': 'nm0943758',
 '331': 'nm0541149',
 '332': 'nm0480046',
 '333': 'nm0002030',
 '334': 'nm0455741',
 '335': 'nm0272568',
 '336': 'nm0414144',
 '337': 'nm0373429',
 '338': 'nm0527217',
 '339': 'nm0789313',
 '340': 'nm0730860',
 '341': 'nm0502752',
 '342': 'nm0500552',
 '343': 'nm0235066',
 '344': 'nm0002031',
 '345': 'nm0523932',
 '346': 'nm0003490',
 '347': 'nm0003836',
 '348': 'nm0924065',
 '349': 'nm0466099',
 '350': 'nm0466113',
 '351': 'nm0580017',
 '352': 'nm0503777',
 '353': 'nm0943758',
 '354': 'nm0936823',
 '355': 'nm0257638',
 '356': 'nm0001328',
 '357': 'nm0113284',
 '358': 'nm0226189',
 '359': 'nm0939992',
 '360': 'nm0272568',
 '361': 'nm0035899',
 '362': 'nm0789313',
 '363': 'nm0455741',
 '364': 'nm0414144',
 '365': 'nm0730860',
 '366': 'nm0254675',
 '367': 'nm0332539',
 '368': 'nm0909825',
 '369': 'nm0500552',
 '370': 'nm0523893',
 '371': 'nm0467396',
 '372': 'nm0503777',
 '373': 'nm0946391',
 '374': 'nm0896533',
 '375': 'nm0943758',
 '376': 'nm0001379',
 '377': 'nm0000485',
 '378': 'nm0445033',
 '379': 'nm0166836',
 '380': 'nm0828419',
 '381': 'nm0001366',
 '382': 'nm0002031',
 '383': 'nm0005847',
 '384': 'nm0401680',
 '385': 'nm0905729',
 '386': 'nm0210701',
 '387': 'nm0167241',
 '388': 'nm0001120',
 '389': 'nm0631438',
 '390': 'nm0289297',
 '391': 'nm0480046',
 '392': 'nm0869664',
 '393': 'nm0654868',
 '394': 'nm0587277',
 '395': 'nm0374702',
 '396': 'nm0762263',
 '397': 'nm0020980',
 '398': 'nm0001379',
 '399': 'nm0909825',
 '400': 'nm0002021',
 '401': 'nm0000180',
 '402': 'nm0939992',
 '403': 'nm0627864',
 '404': 'nm0000080',
 '405': 'nm0281381',
 '406': 'nm0936404',
 '407': 'nm0869665',
 '408': 'nm0000697',
 '409': 'nm0943758',
 '410': 'nm0485647',
 '411': 'nm0710924',
 '412': 'nm0002545',
 '413': 'nm0939992',
 '414': 'nm0722852',
 '415': 'nm0000033',
 '416': 'nm0828419',
 '417': 'nm0146709',
 '418': 'nm0878338',
 '419': 'nm0523932',
 '420': 'nm0138893',
 '421': 'nm0828419',
 '422': 'nm0002031',
 '423': 'nm0064415',
 '424': 'nm0167241',
 '425': 'nm0064415',
 '426': 'nm0000485',
 '427': 'nm0523932',
 '428': 'nm0928208',
 '429': 'nm0943758',
 '430': 'nm0902082',
 '431': 'nm0792605',
 '432': 'nm0802563',
 '433': 'nm0000033',
 '434': 'nm0762263',
 '435': 'nm0454771',
 '436': 'nm0124877',
 '437': 'nm0002031',
 '438': 'nm0001008',
 '439': 'nm0087831',
 '440': 'nm0880618',
 '441': 'nm0802563',
 '442': 'nm0000697',
 '443': 'nm0919012',
 '444': 'nm0002030',
 '445': 'nm0002545',
 '446': 'nm0202681',
 '447': 'nm0163229',
 '448': 'nm0695937',
 '449': 'nm0000033',
 '450': 'nm0103975',
 '451': 'nm0624535',
 '452': 'nm0591486',
 '453': 'nm0000485',
 '454': 'nm0002545',
 '455': 'nm0627864',
 '456': 'nm0792605',
 '457': 'nm0307819',
 '458': 'nm0229424',
 '459': 'nm0567757',
 '460': 'nm0045800',
 '461': 'nm0000180',
 '462': 'nm0020765',
 '463': 'nm0113284',
 '464': 'nm0000485',
 '465': 'nm0000180',
 '466': 'nm0324013',
 '467': 'nm0710924',
 '468': 'nm0000975',
 '469': 'nm0357607',
 '470': 'nm0213136',
 '471': 'nm0187769',
 '472': 'nm0146709',
 '473': 'nm0880618',
 '474': 'nm0188669',
 '475': 'nm0821472',
 '476': 'nm0226189',
 '477': 'nm0002031',
 '478': 'nm0946391',
 '479': 'nm0506797',
 '480': 'nm0202681',
 '481': 'nm0000485',
 '482': 'nm0719756',
 '483': 'nm0920074',
 '484': 'nm0307819',
 '485': 'nm0002190',
 '486': 'nm0168413',
 '487': 'nm0167496',
 '488': 'nm0001328',
 '489': 'nm0946391',
 '490': 'nm0896533',
 '491': 'nm0319148',
 '492': 'nm0796645',
 '493': 'nm0001008',
 '494': 'nm0103975',
 '495': 'nm0003836',
 '496': 'nm0696247',
 '497': 'nm0000406',
 '498': 'nm0000033',
 '499': 'nm0744023',
 '500': 'nm0245213',
 '501': 'nm0307819',
 '502': 'nm0744023',
 '503': 'nm0001120',
 '504': 'nm0946391',
 '505': 'nm0629580',
 '506': 'nm0000581',
 '507': 'nm0287836',
 '508': 'nm0414144',
 '509': 'nm0802563',
 '510': 'nm0000080',
 '511': 'nm0003226',
 '512': 'nm0000041',
 '513': 'nm0595804',
 '514': 'nm0001415',
 '515': 'nm0202088',
 '516': 'nm0229424',
 '517': 'nm0202681',
 '518': 'nm0188669',
 '519': 'nm0693281',
 '520': 'nm0001415',
 '521': 'nm0000581',
 '522': 'nm0215877',
 '523': 'nm0368871',
 '524': 'nm0239069',
 '525': 'nm0002031',
 '526': 'nm0780833',
 '527': 'nm0000122',
 '528': 'nm0654868',
 '529': 'nm0332539',
 '530': 'nm0792605',
 '531': 'nm0735879',
 '532': 'nm0001928',
 '533': 'nm0715346',
 '534': 'nm0869664',
 '535': 'nm0076779',
 '536': 'nm0909825',
 '537': 'nm0599910',
 '538': 'nm0578483',
 '539': 'nm0146709',
 '540': 'nm0002031',
 '541': 'nm0330456',
 '542': 'nm0000406',
 '543': 'nm0059106',
 '544': 'nm0487237',
 '545': 'nm0910199',
 '546': 'nm0718321',
 '547': 'nm0715346',
 '548': 'nm0000406',
 '549': 'nm0921288',
 '550': 'nm0542649',
 '551': 'nm0624535',
 '552': 'nm0001379',
 '553': 'nm0001120',
 '554': 'nm0000080',
 '555': 'nm0649097',
 '556': 'nm0000080',
 '557': 'nm0693281',
 '558': 'nm0552058',
 '559': 'nm0268513',
 '560': 'nm0000180',
 '561': 'nm0226189',
 '562': 'nm0542649',
 '563': 'nm0001328',
 '564': 'nm0744504',
 '565': 'nm0003836',
 '566': 'nm0696247',
 '567': 'nm0211459',
 '568': 'nm0485943',
 '569': 'nm0445033',
 '570': 'nm0899581',
 '571': 'nm0712947',
 '572': 'nm0796645',
 '573': 'nm0001379',
 '574': 'nm0002190',
 '575': 'nm0003593',
 '576': 'nm0744035',
 '577': 'nm0802563',
 '578': 'nm0896542',
 '579': 'nm0792605',
 '580': 'nm0229424',
 '581': 'nm0366942',
 '582': 'nm0000581',
 '583': 'nm0502752',
 '584': 'nm0113284',
 '585': 'nm0357607',
 '586': 'nm0500552',
 '587': 'nm0000041',
 '588': 'nm0002045',
 '589': 'nm0000037',
 '590': 'nm0001415',
 '591': 'nm0000406',
 '592': 'nm0649097',
 '593': 'nm0245385',
 '594': 'nm0936404',
 '595': 'nm0939992',
 '596': 'nm0077587',
 '597': 'nm0454771',
 '598': 'nm0909825',
 '599': 'nm0005898',
 '600': 'nm0000581',
 '601': 'nm0907779',
 '602': 'nm0332531',
 '603': 'nm0423329',
 '604': 'nm0077587',
 '605': 'nm0924065',
 '606': 'nm0163229',
 '607': 'nm0202681',
 '608': 'nm0188669',
 '609': 'nm0005789',
 '610': 'nm0542649',
 '611': 'nm0578483',
 '612': 'nm0591486',
 '613': 'nm0542649',
 '614': 'nm0467396',
 '615': 'nm0235066',
 '616': 'nm0332539',
 '617': 'nm0202088',
 '618': 'nm0000581',
 '619': 'nm0000041',
 '620': 'nm0670874',
 '621': 'nm0649097',
 '622': 'nm0000041',
 '623': 'nm0000033',
 '624': 'nm0000697',
 '625': 'nm0624535',
 '626': 'nm0542649',
 '627': 'nm0591486',
 '628': 'nm0113284',
 '629': 'nm0899581',
 '630': 'nm0000697',
 '631': 'nm0909825',
 '632': 'nm0663577',
 '633': 'nm0694090',
 '634': 'nm0936404',
 '635': 'nm0514822',
 '636': 'nm0191899',
 '637': 'nm0782947',
 '638': 'nm0000041',
 '639': 'nm0627864',
 '640': 'nm0099589',
 '641': 'nm0802862',
 '642': 'nm0526946',
 '643': 'nm0712947',
 '644': 'nm0470932',
 '645': 'nm0076779',
 '646': 'nm0245213',
 '647': 'nm0347589',
 '648': 'nm0521334',
 '649': 'nm0368871',
 '650': 'nm0000019',
 '651': 'nm0221423',
 '652': 'nm0794793',
 '653': 'nm0000581',
 '654': 'nm0006943',
 '655': 'nm0695937',
 '656': 'nm0064415',
 '657': 'nm0524995',
 '658': 'nm0270765',
 '659': 'nm0112218',
 '660': 'nm0160108',
 '661': 'nm0641007',
 '662': 'nm0000041',
 '663': 'nm0337586',
 '664': 'nm0946391',
 '665': 'nm0663577',
 '666': 'nm0712947',
 '667': 'nm0001379',
 '668': 'nm0467396',
 '669': 'nm0654868',
 '670': 'nm0002087',
 '671': 'nm0395105',
 '672': 'nm0851537',
 '673': 'nm0003226',
 '674': 'nm0796645',
 '675': 'nm0229424',
 '676': 'nm0187769',
 '677': 'nm0588183',
 '678': 'nm0000080',
 '679': 'nm0001120',
 '680': 'nm0439597',
 '681': 'nm0802862',
 '682': 'nm0912766',
 '683': 'nm0591486',
 '684': 'nm0916271',
 '685': 'nm0305557',
 '686': 'nm0000485',
 '687': 'nm0746950',
 '688': 'nm0003593',
 '689': 'nm0001328',
 '690': 'nm0003226',
 '691': 'nm0000248',
 '692': 'nm0000005',
 '693': 'nm0268513',
 '694': 'nm0000033',
 '695': 'nm0001928',
 '696': 'nm0000581',
 '697': 'nm0039107',
 '698': 'nm0257129',
 '699': 'nm0649907',
 '700': 'nm0019282',
 '701': 'nm0715346',
 '702': 'nm0001415',
 '703': 'nm0455741',
 '704': 'nm0527217',
 '705': 'nm0314671',
 '706': 'nm0414144',
 '707': 'nm0875973',
 '708': 'nm0699693',
 '709': 'nm0828419',
 '710': 'nm0211964',
 '711': 'nm0910199',
 '712': 'nm0065442',
 '713': 'nm0744023',
 '714': 'nm0281507',
 '715': 'nm0621540',
 '716': 'nm0374702',
 '717': 'nm0229424',
 '718': 'nm0780833',
 '719': 'nm0211964',
 '720': 'nm0000033',
 '721': 'nm0719756',
 '722': 'nm0000180',
 '723': 'nm0002030',
 '724': 'nm0802862',
 '725': 'nm0635554',
 '726': 'nm0001415',
 '727': 'nm0000697',
 '728': 'nm0408348',
 '729': 'nm0000041',
 '730': 'nm0767701',
 '731': 'nm0928644',
 '732': 'nm0002030',
 '733': 'nm0000019',
 '734': 'nm0235066',
 '735': 'nm0003226',
 '736': 'nm0000736',
 '737': 'nm0621540',
 '738': 'nm0354691',
 '739': 'nm0060742',
 '740': 'nm0836328',
 '741': 'nm0507390',
 '742': 'nm0578483',
 '743': 'nm0000248',
 '744': 'nm0746950',
 '745': 'nm0303120',
 '746': 'nm0202088',
 '747': 'nm0001415',
 '748': 'nm0542649',
 '749': 'nm0000581',
 '750': 'nm0299586',
 '751': 'nm0649097',
 '752': 'nm0896533',
 '753': 'nm0467396',
 '754': 'nm0542649',
 '755': 'nm0695937',
 '756': 'nm0000406',
 '757': 'nm0503777',
 '758': 'nm0517597',
 '759': 'nm0001452',
 '760': 'nm0003593',
 '761': 'nm0006249',
 '762': 'nm0439597',
 '763': 'nm0517597',
 '764': 'nm0889513',
 '765': 'nm0712947',
 '766': 'nm0408348',
 '767': 'nm0000697',
 '768': 'nm0004292',
 '769': 'nm0000005',
 '770': 'nm0000180',
 '771': 'nm0000339',
 '772': 'nm0382529',
 '773': 'nm0481838',
 '774': 'nm0002031',
 '775': 'nm0003226',
 '776': 'nm0003226',
 '777': 'nm0514822',
 '778': 'nm0006249',
 '779': 'nm0557840',
 '780': 'nm0712947',
 '781': 'nm0406728',
 '782': 'nm0305557',
 '783': 'nm0792822',
 '784': 'nm0826264',
 '785': 'nm0745866',
 '786': 'nm0314584',
 '787': 'nm0928208',
 '788': 'nm0167496',
 '789': 'nm0828419',
 '790': 'nm0000339',
 '791': 'nm0733476',
 '792': 'nm0477702',
 '793': 'nm0752922',
 '794': 'nm0485943',
 '795': 'nm0000033',
 '796': 'nm0425913',
 '797': 'nm0005789',
 '798': 'nm0900972',
 '799': 'nm0167241',
 '800': 'nm0869664',
 '801': 'nm0177034',
 '802': 'nm0590377',
 '803': 'nm0318150',
 '804': 'nm0000059',
 '805': 'nm0408348',
 '806': 'nm0703689',
 '807': 'nm0161055',
 '808': 'nm0443609',
 '809': 'nm0591486',
 '810': 'nm0001124',
 '811': 'nm0802862',
 '812': 'nm0557840',
 '813': 'nm0497442',
 '814': 'nm0000975',
 '815': 'nm0757940',
 '816': 'nm0564970',
 '817': 'nm0000339',
 '818': 'nm0834744',
 '819': 'nm0432846',
 '820': 'nm0330026',
 '821': 'nm0788391',
 '822': 'nm0728688',
 '823': 'nm0694090',
 '824': 'nm0001415',
 '825': 'nm0290371',
 '826': 'nm0590377',
 '827': 'nm0000774',
 '828': 'nm0001379',
 '829': 'nm0000791',
 '830': 'nm0128715',
 '831': 'nm0388913',
 '832': 'nm0002045',
 '833': 'nm0627087',
 '834': 'nm0900972',
 '835': 'nm0746950',
 '836': 'nm0678928',
 '837': 'nm0004244',
 '838': 'nm0000019',
 '839': 'nm0001928',
 '840': 'nm0006452',
 '841': 'nm0000005',
 '842': 'nm0000005',
 '843': 'nm0000697',
 '844': 'nm0348175',
 '845': 'nm0533241',
 '846': 'nm0091430',
 '847': 'nm0425913',
 '848': 'nm0314046',
 '849': 'nm0542649',
 '850': 'nm0432846',
 '851': 'nm0196536',
 '852': 'nm0001379',
 '853': 'nm0001031',
 '854': 'nm0943758',
 '855': 'nm0522123',
 '856': 'nm0128715',
 '857': 'nm0006452',
 '858': 'nm0654868',
 '859': 'nm0623768',
 '860': 'nm0733476',
 '861': 'nm0001178',
 '862': 'nm0006249',
 '863': 'nm0000406',
 '864': 'nm0796923',
 '865': 'nm0542649',
 '866': 'nm0419485',
 '867': 'nm0503615',
 '868': 'nm0455839',
 '869': 'nm0468609',
 '870': 'nm0503777',
 '871': 'nm0000005',
 '872': 'nm0006249',
 '873': 'nm0000248',
 '874': 'nm0076618',
 '875': 'nm0004573',
 '876': 'nm0936404',
 '877': 'nm0000339',
 '878': 'nm0000339',
 '879': 'nm0598102',
 '880': 'nm0591486',
 '881': 'nm0000339',
 '882': 'nm0348673',
 '883': 'nm0184648',
 '884': 'nm0000080',
 '885': 'nm0000033',
 '886': 'nm0330026',
 '887': 'nm0937600',
 '888': 'nm0695937',
 '889': 'nm0006249',
 '890': 'nm0161055',
 '891': 'nm0375494',
 '892': 'nm0522123',
 '893': 'nm0338018',
 '894': 'nm0926919',
 '895': 'nm0767110',
 '896': 'nm0281507',
 '897': 'nm0001031',
 '898': 'nm0211964',
 '899': 'nm0533241',
 '900': 'nm0357891',
 '901': 'nm0290371',
 '902': 'nm0000878',
 '903': 'nm0206560',
 '904': 'nm0789520',
 '905': 'nm0001486',
 '906': 'nm0446129',
 '907': 'nm0202681',
 '908': 'nm0001500',
 '909': 'nm0792605',
 '910': 'nm0100372',
 '911': 'nm0164967',
 '912': 'nm0802862',
 '913': 'nm0244870',
 '914': 'nm0690597',
 '915': 'nm0446129',
 '916': 'nm0836328',
 '917': 'nm0213136',
 '918': 'nm0002190',
 '919': 'nm0314584',
 '920': 'nm0245213',
 '921': 'nm0542720',
 '922': 'nm0406728',
 '923': 'nm0936404',
 '924': 'nm0654868',
 '925': 'nm0006452',
 '926': 'nm0587277',
 '927': 'nm0000076',
 '928': 'nm0002338',
 '929': 'nm0136579',
 '930': 'nm0213136',
 '931': 'nm0535512',
 '932': 'nm0527217',
 '933': 'nm0718627',
 '934': 'nm0488981',
 '935': 'nm0314671',
 '936': 'nm0164203',
 '937': 'nm0094083',
 '938': 'nm0333650',
 '939': 'nm0496746',
 '940': 'nm0393094',
 '941': 'nm0654868',
 '942': 'nm0894577',
 '943': 'nm0229424',
 '944': 'nm0290802',
 '945': 'nm0000419',
 '946': 'nm0654868',
 '947': 'nm0103855',
 '948': 'nm0337885',
 '949': 'nm0000697',
 '950': 'nm0468609',
 '951': 'nm0715862',
 '952': 'nm0006615',
 '953': 'nm0880618',
 '954': 'nm0001031',
 '955': 'nm0274659',
 '956': 'nm0451576',

In [46]:
mov_df = pd.DataFrame(dfmovie.items())
mov_df.columns = ['id', 'tconst']
dir_df = pd.DataFrame(dfdir.items())
dir_df.columns = ['id', 'director']
director_df = dir_df.merge(mov_df, on='id')
director_df.drop('id', axis=1, inplace=True)

director_df = director_df.groupby(['tconst'])['director'].apply(', '.join).reset_index()

director_df

         tconst              director
0     tt0003740             nm0665163
1     tt0008663             nm0803705
2     tt0009369  nm0428059, nm0949648
3     tt0010307             nm0304098
4     tt0010600             nm0523932
...         ...                   ...
9995  tt9850344             nm0284774
9996  tt9850386             nm0550881
9997  tt9900782             nm7992231
9998  tt9904802             nm0052054
9999  tt9911196             nm0631590

[10000 rows x 2 columns]

In [47]:
df_total = df_writer_test.merge(director_df)

df_total

,tconst,primaryTitle,originalTitle,startYear,endYear,runtimeMinutes,numVotes,label,writer,director
0,tt0009369,Mickey,Mickey,1918,\N,93,1119.0,False,"nm0215874, nm0370271","nm0428059, nm0949648"
1,tt0010600,The Doll,Die Puppe,1919,\N,66,1898.0,True,"nm0006782, nm0473134, nm0523932, nm0932559",nm0523932
2,tt0011439,The Mark of Zorro,The Mark of Zorro,1920,\N,79,2439.0,True,"nm0191547, nm0001196, nm1491939",nm0629243
3,tt0011607,The Parson's Widow,Prästänkan,1920,\N,94,1264.0,True,"nm0003433, nm0418114",nm0003433
4,tt0011841,Way Down East,Way Down East,1920,\N,145,5376.0,True,"nm0662461, nm0103755, nm0342604, nm0446189, nm...",nm0000428
...,...,...,...,...,...,...,...,...,...,...
3567,tt9820352,Villain,Villain,2020,\N,97,2652.0,False,"nm1906725, nm1697006",nm0053028
3568,tt9831136,The Banana Splits Movie,The Banana Splits Movie,2019,\N,89,3568.0,False,"nm0253624, nm1698584",nm0261629
3569,tt9840958,Love Struck Sick,Love Struck Sick,2019,\N,92,3769.0,False,"nm8957087, nm4672801",nm4672801
3570,tt9850344,Night Shift,Police,2020,\N,98,1325.0,False,"nm3124777, nm1987983, nm0284774",nm0284774
3571,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,\N,103,3242.0,True,"nm2063122, nm0277932, nm3547655",nm0631590

In [48]:
df_total.to_csv('training_full.csv')